<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/VikalpStall.css" />
<script src="/js/Event.js"></script>
<div id="page-wrapper">
	<!-- Main -->
		<div id="main" class="wrapper style1 text-white" style="background-color: #272833;">
			<div id="large-header" class="large-header">
			<div id='stars'></div>
			<div id='stars2'></div>
			<div id='stars3'></div>
			<class="container">
					<header class="major">
						<h1 id="Headings">        Project Vikalp</h1>
						<h2 id="Subheading">          Opportunity For All</h2>
					</header>
				<!-- Content -->
				<section id="content">
					<div class="message">
						Sorry, your browser does not support CSS Grid. 😅
					  </div>
					  <section class="section">
						<div class="flex-container">
							<div class="flex-item" id = "image1"><img src="../Downloads/eventimages/2217E1DB-A83F-42EC-AD9E-2CCC53795FAF.JPG" alt="description1"></div>
							<div class="flex-item" id = "image2"><img src="../Downloads/eventimages/PHOTO-2023-09-28-20-49-11.jpg" alt="description2"></div>
							<div class="flex-item" id = "image3"><img src="../Downloads/eventimages/8E79E0F0-F15A-4571-B73D-5F1E8AEACD17.JPG" alt="description3"></div>
							<div class="flex-item" id = "image4"><img src="../Downloads/eventimages/1B20996A-6739-4951-A7B0-79A6B8F5B1CE.JPG" alt="description4"></div>
							<div class="flex-item" id = "image5"><img src="../Downloads/eventimages/PHOTO-2023-09-28-20-01-44.jpg" alt="description5"></div>
							<div class="flex-item" id = "image6"><img src="../Downloads/eventimages/PHOTO-2023-09-28-14-47-15.jpg" alt="description6"></div>
						  </div>
                        <h3 id = "Headings">A series of stalls setup to help underprivileged people sell their products profitably</h3><br>
						<h3 id="Headings"> - Vikalp Stall 1</h3>
                        <h3 id="Headings">Vikalp Stall encouraging Surya Prakash</h3>
						<p id="Text">With an aim to uplift a 24 year old Cerebral Palsy differently-abled entrepreneur named Surya Prakash, Enactus BPHC came with a stall to help him sell his products which include thread painted notebooks, folders, scented candles, coasters and many more. All the sales were managed by the Enactus members. The stall was successful and the revenue generated through this stall was totally given to him.</p><br>

						<h3 id="Headings">-Vikalp Stall - II at Launchpad 2023</h3>
						<p id="Text">With a motive to encourage the differently abled and autistic
                            people, Enactus collaborated with VidyaSagar organization, a
                            Chennai-based NGO and put up a Handicrafts Stall in the
                            Launchpad Entrepreneurial Summit, 2023 at BPHC.</p>
                            
                        <p id = "Text">Handmade products like thread painted and block printed
                            carry bags, jute bags, scented candles, jewellery boxes etc
                            made by the autistic children were sold by us and the profits
                            were completely given to them.</p>
						
					</section>
				</div></div></div>
		</div>
</div>
